.work-view {
  background-color: antiquewhite;
  padding: 0 calc(50% - 300px);
}
.work-view img.header {
  width: 100%;
  max-width: none;
  margin-bottom: 6em;
  max-height: 30vh;
  object-fit: cover;
}
.work-view h2, .work-view h3 {
  padding-top: 4em;
  font-weight: 600;
}
.work-view img{
  max-width: 40%;
  max-height: 400px;
}
.work-view .nav-back {
  display: block;
  margin-top: 4em;
  margin-bottom: 6em;
}
@media all and (max-width: 600px) {
  .work-view p, .work-view h1, .work-view h2, .work-view h3 {
    padding: 0 15px;
  }
}